$react-blue = #53C1DE
$react-grey = #222
$react-grey-lt = #484848
$react-red = #c05b4d
$react-red-lt = #cc7a6f

bg-body()
  // background #00D8FF
  // background #a2f1ff
  background $react-grey
  // background -moz-linear-gradient(-45deg, #59c3e0 0, #c0d856 33%, #f2c77d 66%, #ff5151 100%)
  // background -webkit-linear-gradient(-45deg, #59c3e0 0, #c0d856 33%, #f2c77d 66%, #ff5151 100%)
  // background linear-gradient(135deg, #59c3e0 0, #c0d856 33%, #f2c77d 66%, #ff5151 100%)
  // filter "progid:DXImageTransform.Microsoft.gradient( startColorstr='#59c3e0', endColorstr='#ff5151',GradientType=1 )"

clearfix()
  &:after
    content ""
    display table
    clear both

$margin-offset = 50px

$easeOutBack = cubic-bezier(.470, .005, .320, 1.275)
$easeInOut = ease-in-out
$easeOut = ease-out

$body-colour = $react-blue
$body-colour-alt = #fff
$paper-bg = #f1f1f1

$paper-colour = $react-grey-lt
$paper-colour-alt = $react-red
$bullet-colour = $react-blue
