svg#svg1.svg-path(width='2000px' height='1140px' viewbox='0 0 800 570' preserveaspectratio='xMidYMid meet' zoomandpan='disable')
	path(d='M16,16c6.317305701999999,49.50155703280001,24.520483175600006,103.1774315458,80,130c76.4795168245,28.822568454199995,137.8545783358,-14.963428728999986,192,-28c69.1454216642,-11.036571271000014,87.95802180940001,-2.200944978099983,116,34c47.04197819059999,72.20094497809998,31.48530925289998,129.00151827929994,88,161c48.51469074709996,26.998481720700056,78.03231121520002,17.70573515470005,133,0' stroke='white' style='fill: none; vector-effect: non-scaling-stroke;' transform="matrix(1.24928 0 0 1.24928 -1.59158 -1.59158)")

svg#svg2.svg-path(width='2200px' height='1250px' viewbox='0 0 720 590' preserveaspectratio='xMidYMid meet' zoomandpan='disable')
	path(d='M680,44c8.917951541400043,49.5274685433,-48.06849545529997,157.4379745584,-94,178s-83.33408117229999,-32.306072289599996,-132,-9s-27.619656244499993,123.59714999710002,-110,129s-87.05672451570001,-50.860250269999995,-173,-29s-116.9952593282,76.8577821046,-119,139' stroke='white' style='fill: none; vector-effect: non-scaling-stroke;')

svg#svg3.svg-path(width='2800px' height='2000px' viewbox='0 0 720 590' preserveaspectratio='xMidYMid meet' zoomandpan='disable')
	path(d='M700.7977991747226,70.74002751026867c-90.11918738578561,1.9896418583684152,-68.8662946300226,130.6979470481313,-142.52819807430797,139.37551581843678s-85.31482395084578,10.279897449083876,-117.14442916097198,36.55708390648414s-14.74482818390976,81.01118025852011,-97.12517193944268,95.3273727648104s-102.90266674397282,23.41760392536196,-159.13480055015907,62.11416781301466s-103.13005987842948,35.2621837550455,-154.6533700137987,36.00137551574443' stroke='white' style='fill: none; vector-effect: non-scaling-stroke;')
