//- .popover.pres-popover(data-slide="1-0")
//- 	h4 AWS's mammouth list of services...
//- 	img(src="images/aws-list.png")
//- 
//- .popover.pres-popover(data-slide="1-1")
//- 	h4 Data visualisation
//- 	img(src="images/ls-chart.png")
//- 
//- .popover.pres-popover(data-slide="1-2")
//- 	h4 Competitor "Cloudyn" on the rise
//- 	img(src="images/news-cloudyn.png")
//- 
//- 
//- 
//- .popover.pres-popover(data-slide="2-0")
//- 	h4 Home page <em>(Polymer)</em>
//- 	img(src="images/ls-home.png")
