.popover.pres-popover(data-slide="1-0")
	h4 AWS's mammouth list of services...
	img(src="images/aws-list.png")

.popover.pres-popover(data-slide="1-1")
	h4 Data visualisation
	img(src="images/ls-chart.png")

.popover.pres-popover(data-slide="1-2")
	h4 Competitor "Cloudyn" on the rise
	img(src="images/news-cloudyn.png")



.popover.pres-popover(data-slide="2-0")
	h4 Home page <em>(Polymer)</em>
	img(src="images/ls-home.png")

.popover.pres-popover(data-slide="2-1")
	h4 Main app dashboard <em>(Angular)</em>
	img(src="images/ls-dashboard.png")

.popover.pres-popover(data-slide="2-2")
	h4 New user signup <em>(React)</em>
	img(src="images/ls-signup.png")



.popover.pres-popover(data-slide="3-0")
	h4 Help tooltips for in-app guidance
	img(src="images/ls-helptooltip.png")

.popover.pres-popover(data-slide="3-1")
	h4 Slack integration landing page
	img(src="images/ls-slack.png")


.popover.pres-popover(data-slide="5-0")
	h4 Mobile mock-up
	img(src="images/blog-mobile.png")

.popover.pres-popover(data-slide="5-1")
	h4 Example blog page
	img(src="images/blog-desktop.png")
