#intro.pres-slide(data-slide="0")
	img.icon-bg(src="images/react-cake.png")
	.box
		h1 A slice of React
		ul
			li A brief history & comparisons
			li Getting Started
			li Performance Tips & clean code


//- #slide1.pres-slide.slide(data-slide="1" data-rotate="20")
//- 	img.icon-bg(src="images/liquid-logo.png")
//- 	.box
//- 		h2 What is Liquid Sky?
//- 		ul
//- 			li A tool for managing <strong>“cloud costs”</strong>
//- 			li Track cloud resource usage by team/project
//- 			li Easy to use interface
//- 			li Slack integration for live updates
//- 	.box.box-bottom
//- 		img(src="images/aws-logo.png")
//- 		img(src="images/azure-logo.png")


#slide1.pres-slide.slide(data-slide="1")
	i.icon-bg.fa.fa-facebook-official
	.box
		h2 React's Roots
		ul
			li Developed by Facebook, used for Facebook & Instagram
			li Uses a bespoke templating language (#[strong JSX])
			li In the creator's words: #[em “The V in MVC”]

#slide2.pres-slide.slide(data-slide="2")
	i.icon-bg.fa.fa-trophy
	.box
		h2 Pistols at dawn...
	.box
		.half
			h3 Angular 1.5
			ul
				li Developed by Facebook, used for Facebook & Instagram
		.half
			h3 React
			ul
				li Developed by Facebook, used for Facebook & Instagram


//- #end.pres-slide(data-slide="10" data-rotate="0")
//- 	i.icon-bg.fa.fa-fire
//- 	.box
//- 		p.h1 <em>“Cherish your visions and your dreams as they are the children of your soul, the blueprints of your ultimate achievements”</em>
//- 		p.h1 <em>“If you cannot do great things, do small things in a great way”</em>
//- 		h5 
//- 			| &nbsp;&nbsp;&nbsp; - Napoleon Hill<br>
//- 			| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em class="h6">American author, 1883</em>


#end.pres-slide(data-slide="3")
	i.icon-bg.fa.fa-fire
	.box
		h2 Go create awesome stuff!
		p React, Webpack, ES6 boilerplate: github.com/AaronLeoCooper/react-webpack-es6
		p.h1 <em>“Every creator painfully experiences the chasm between his inner vision and its ultimate expression.”</em>
		h5 
			| &nbsp;&nbsp;&nbsp; - Isaac Bashevis Singer
