#intro.pres-slide
	img.icon-bg(src="images/react-cake.png")
	.box
		h1 A slice of React
		ul
			li Some thoughts about Front-end Development
			li What is React & Why use it?
			li An ideal setup
			li Performance Tips & Production-ready code


.pres-slide.slide
	i.icon-bg.fa.fa-television
	.box
		h2 A bit about “Front-end”
		ul
			li The UI and UX practices move incredibly fast
			li Like the fashion industry it's all about trends


.pres-slide.slide
	i.icon-bg.fa.fa-facebook-official
	.box
		h2 A brief introduction
		ul
			li React is a front-end library created by Facebook
			li Helps in developing responsive web-apps that are easy to maintain
			li Uses a bespoke templating language (#[strong JSX])
			li In their words: #[em “The V in MVC”]


.pres-slide.slide
	i.icon-bg.fa.fa-question
	.box
		h2 Why React?
		ul
			li Promotes good coding practices for easy maintainability
			li It's VERY fast at updating the view
			ul
				li Creates virtual copy of DOM & batches updates
				li Only updates the parts of the DOM that changed
			li One-way data binding
			li JSX templates


.hero.pres-slide.slide
	p.h1 Where do you start?


.pres-slide.slide
	i.icon-bg.fa.fa-terminal
	.box
		h2 Choose Javascript flavour
	.box
		.half
			h3 ES5
			ul.list-es5
				li Familiar Javascript
				li Minimal setup#[span.react-blue *]
			em(style="display: inline-block; padding-top: 30px; padding-right: 20px; font-size: 24px;") #[span.react-blue *] Although you really can't excape using extra modules with React
		.half
			h3 ES6 a.k.a ES2015
			ul.list-es6
				li Works extremely well with React
				li Documentation heading towards ES6
				li If you're new to React, start here!


.pres-slide.slide
	i.icon-bg.fa.fa-terminal
	.box
		h2 Build Tools & Bundlers
	.box.centralise
		h3.center Choose a Bundler ...
		img.vendor-logo(src="images/browserify_logo.png" style="margin-right: 15px;")
		.img-cont
			img.vendor-logo(src="images/webpack.png" style="margin-left: 15px; margin-top: 25px;")
			i.fa.fa-check-circle(style="position: absolute; bottom: 0; left: 310px; color: green;")
	.box.centralise
		h3.center ... and maybe a build tool?
		.img-cont
			img.vendor-logo(src="images/gulp-logo.png")
			i.fa.fa-check-circle(style="position: absolute; bottom: 5px; right: 40px; color: green;")
		img.vendor-logo(src="images/grunt-logo.png" style="margin: 0 15px;")
		img.vendor-logo(src="images/brunch-logo.svg")


.pres-slide.slide
	i.icon-bg.fa.fa-terminal
	.box
		h2 Something like this ...
	.box.steps-h(style="padding-top: 40px;")
		img.vendor-logo.v-center(src="images/gulp-logo.png" style="margin: 0 -20px;")
		i.arrow-icon.fa.fa-arrow-right.v-center
		.stacked
			img.vendor-logo(src="images/webpack.png" style="margin: 0 20px;")
			i.fa.fa-plus(style="margin-top: 25px;")
			img.vendor-logo(src="images/babel.png")
			em(style="font-size: 24px; margin-top: -25px;") (Required for ES6)
		i.arrow-icon.fa.fa-arrow-right.v-center
		img.vendor-logo(src="images/react-logo.png" style="margin-left: 10px;")


.pres-slide.slide
	i.icon-bg.fa.fa-terminal
	.box
		h2 A very basic app



#end.pres-slide
	i.icon-bg.fa.fa-send
	.box
		p.h1 Go create stuff!
		//- p React, Webpack, ES6 boilerplate: github.com/AaronLeoCooper/react-webpack-es6
		p.h1 <em>“Every creator painfully experiences the chasm between their inner vision and its ultimate expression.”</em>
		h5 
			| &nbsp;&nbsp;&nbsp; - Isaac Bashevis Singer
