#intro.pres-slide
	img.icon-bg(src="images/react-cake.png")
	.box
		h1 A slice of React
		ul
			li Some thoughts about Front-end Development
			li What is React & Why use it?
			li An ideal setup
			li Performance Tips & Production-ready code


.pres-slide.slide
	i.icon-bg.fa.fa-television
	.box
		h2 A bit about “Front-end” dev
		ul
			li The UI and UX practices move incredibly fast
			li It's all the about trends
			li Javascript wasn't designed to do what it does today, but it's all we've got
			li The Document Object Model (or DOM) in the browser is #[strong SLOW]


.pres-slide.slide
	i.icon-bg.fa.fa-question
	.box
		h2 Why React?
		ul
			li “Virtual DOM” & intelligent DOM updating
			li VERY fast at responding to user input
			li Helps keep code much cleaner, much more maintainable
			li JSX templates


.hero.pres-slide.slide
	p.h1 Where do you start?


.pres-slide.slide
	i.icon-bg.fa.fa-terminal
	.box
		h2 Choose a Javascript flavour
	.box
		.half
			h3 ES5
			ul.list-es5
				li Familiar Javascript
				li Minimal setup#[span.react-blue *]
			em(style="display: inline-block; padding-top: 30px; padding-right: 20px; font-size: 24px;") #[span.react-blue *] Although you really can't excape using extra modules with React
		.half
			h3 ES6
			ul.list-es6
				li Works extremely well with React
				li Documentation heading towards ES6
				li If you're new to React, start here!


.pres-slide.slide
	i.icon-bg.fa.fa-terminal
	.box
		h2 Build Tools & Bundlers
	.box.centralise
		h3.center Choose a Bundler ...
		img.vendor-logo(src="images/browserify_logo.png" style="margin-right: 15px;")
		.img-cont
			img.vendor-logo(src="images/webpack.png" style="margin-left: 15px; margin-top: 25px;")
			i.fa.fa-check-circle(style="position: absolute; bottom: 0; left: 310px; color: green;")
	.box.centralise
		h3.center ... and maybe a build tool?
		.img-cont
			img.vendor-logo(src="images/gulp-logo.png")
			i.fa.fa-check-circle(style="position: absolute; bottom: 5px; right: 40px; color: green;")
		img.vendor-logo(src="images/grunt-logo.png" style="margin: 0 15px;")
		img.vendor-logo(src="images/brunch-logo.svg")


.pres-slide.slide
	i.icon-bg.fa.fa-terminal
	.box
		h2 Something like this ...
	.box.steps-h(style="padding-top: 40px;")
		img.vendor-logo.v-center(src="images/gulp-logo.png" style="margin: 0 -20px;")
		i.arrow-icon.fa.fa-arrow-right.v-center
		.stacked
			img.vendor-logo(src="images/webpack.png" style="margin: 0 20px;")
			i.fa.fa-plus(style="margin-top: 25px;")
			img.vendor-logo(src="images/babel.png")
			em(style="font-size: 24px; margin-top: -25px;") (Required for ES6)
		i.arrow-icon.fa.fa-arrow-right.v-center
		img.vendor-logo(src="images/react-logo.png" style="margin-left: 10px;")


.pres-slide.slide
	i.icon-bg.fa.fa-terminal
	.box
		h2 JSX
	.box
		.half.center
			//- .jsx-example(style="background: url(images/code/home.jsx.png) no-repeat 0px -100px; background-size: 140%; width: 95%; height: 500px;")
			img(src="images/code/jsx.png")
		.half
			ul
				li It's just Javascript #[em (seriously, even the HTML tags)]
				li Helps us clearly identify what will be rendered
				li No more HTML to JS converstions! :D


.pres-slide.slide
	i.icon-bg.fa.fa-terminal
	.box
		h2 (Very) Basic app structure
	.box.vert-top.centralise
		.img-cont
			p(style="font-size: 20px") main.js
			img.img-code(src="images/code/main.js.png" style="width: 350px")
		.img-cont
			p(style="font-size: 20px") app.jsx
			img.img-code(src="images/code/app.jsx.png" style="width: 180px")
		.img-cont
			p(style="font-size: 20px") home.jsx
			img.img-code(src="images/code/home.jsx.png" style="width: 430px")


.pres-slide.slide
	i.icon-bg.fa.fa-exclamation-triangle.react-red
	.box
		h2 React “gotchas” to watch out for
		ul
			li JSX #[strong isn’t] HTML!
			li Avoid jQuery and any non-React DOM manipulation
			li #[strong Definitely definitely] use an ES6 code linter (e.g. ESLint)
			li Keep components small & non-specific as possible
			li Remember to use production-ready build settings before launching!


.pres-slide.slide
	i.icon-bg.fa.fa-heart.react-red
	.box
		h2 Final thoughts
		ul
			li Once you're comfortable with React, look up Pure React Components (stateless)
			li The decision fatigue is high, the learning curve isn't
			li Check out the non-official React framework: #[strong Redux]
			li  is a great replacement for jQuery ajax


#end.pres-slide
	i.icon-bg.fa.fa-send
	.box
		h3 Haven't tried React yet?
		p.h1 Get to it!

		//- p.h1 <em>“Every creator painfully experiences the chasm between their inner vision and its ultimate expression.”</em>
		//- h5 
		//- 	| &nbsp;&nbsp;&nbsp; - Isaac Bashevis Singer
